In [1]:
##import packages here
import pandas as pd
import numpy as np

# We'll use this later
from numpy import meshgrid

## For plotting
import matplotlib.pyplot as plt
import seaborn as sns

## This sets the plot style
## to have a grid on a white background
sns.set_style("whitegrid")

In [2]:
df = pd.read_csv('df7.csv')
df

            Date    Close   tby   ffr        fta    eps   div  une     vix
0     2005-06-20  1216.10  4.11  3.04   812235.0  84.81  1.76  5.0  148.30
1     2005-06-21  1213.61  4.06  3.04   812235.0  84.81  1.76  5.0  149.00
2     2005-06-22  1213.88  3.95  3.04   811179.0  84.81  1.76  5.0  148.40
3     2005-06-23  1200.73  3.96  3.04   811179.0  84.81  1.76  5.0  150.50
4     2005-06-24  1191.57  3.92  3.04   811179.0  84.81  1.76  5.0  152.00
...          ...      ...   ...   ...        ...    ...   ...  ...     ...
3893  2021-01-25  3855.36  1.05  0.09  7414942.0  95.72  1.58  6.3   25.85
3894  2021-01-26  3849.62  1.05  0.09  7414942.0  95.72  1.58  6.3   25.30
3895  2021-01-27  3750.77  1.04  0.09  7404926.0  95.72  1.58  6.3   33.05
3896  2021-01-28  3787.38  1.07  0.09  7404926.0  95.72  1.58  6.3   30.49
3897  2021-01-29  3714.24  1.11  0.09  7404926.0  95.72  1.58  6.3   32.85

[3898 rows x 9 columns]